# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build output
dist/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Jest
coverage/
jest-cache/
jest-output/

# Environment variables
.env



# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
